
      <header> 
        <nav id="nav" >
           
            
            <ul class="menu-items">
              <img class="logo" src="../assets/img/logo comunidad carismatica.png"   alt="">
              <span><div id="hambur"><i class="fa-solid fa-bars fa-2xl"></i></div></span>
              <span><div id="hambur1"><i class="fa-solid fa-bars fa-2xl fa-rotate-90"></i></div></span>
              
              <li><a id="home" [routerLink]="['/home']" routerLinkActive="actived">Home</a></li>
              <li><a id="about" [routerLink]="['/about']" routerLinkActive="actived">Nosotros</a></li>
              <li><a id="involved" [routerLink]="['/involved']" routerLinkActive="actived">involucrarse</a>
              <li><a id="events" [routerLink]="['/events']" routerLinkActive="actived">Eventos</a></li>
              <li><a id="serve" [routerLink]="['/serve']" routerLinkActive="actived">Servir</a></li>
              <li><a id="contact" [routerLink]="['/contact']" routerLinkActive="actived">Contacto</a></li>
            </ul>

            
            
        </nav>
      </header>

    <div id="content">
        <div class="real">
            <router-outlet></router-outlet>
        </div>
    </div>


<footer>
    <div class="fila1">
       
        <h2 id="mision">Nuestra Mision</h2>
         <p> 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Libero magnam tenetur assumenda magni voluptatem dolorem 
          error voluptatibus molestias aspernatur sunt sequi ad perspiciatis 
          asperiores eaque rerum, soluta modi nesciunt esse.
        </p>
    

       <div id="iconos-cristianos">
        <i class="fa-solid fa-hands-praying fa-2xl"></i>
        <i class="fa-solid fa-book-bible fa-2xl"></i>
        <i class="fa-solid fa-person-praying fa-2xl"></i>
        <i class="fa-solid fa-cross fa-2xl"></i>

       </div>
    </div>
    
    <div class="fila2">
      
      <div class="fila2Flex">
        <div class="logo-footer">
          <img class="logo" src="../assets/img/logo comunidad carismatica.png"   alt="">
        </div>

        <div class="location">
          <p ><strong>Direccion:</strong></p>
          <p>Jiron Arica 365 Surco Pueblo, Diagonal a la Comisaria</p>
          <img class="redes-sociales" src="../assets/img/instagram.png" alt="">
          <img src="../assets/img/facebook.png" alt="" class="redes-sociales">
          <img src="../assets/img/tiktok.png" alt="" class="redes-sociales">
          <img src="../assets/img/youtube.png" alt="" class="redes-sociales">
        </div>
        
        <div class="horarios">
          <p ><strong> Horario de Servicios</strong></p>
          <table>
            <tr>
              <th>Dia</th>
              <th>Horario</th>
            </tr>
            <tr>
              <th>Miercoles</th>
              <td>
                  <tr> 7:00 pm a 8:20 pm</tr>
                  <tr> 8:30 pm a 9:45 pm</tr>
              </td>
            </tr>
            <tr>
              <th>Domingos</th>
              <td>
                <tr>De 8:00 am a 9:30 am</tr>
                <tr>De 11:00 am a 12:30 pm</tr>
                <tr>De 7:00 pm a 8:30 pm</tr>
              </td>
            </tr>

          </table>
        </div>
      </div>

      <div class="copyright">
          <p> <i class="fa-solid fa-copyright fa-xl"></i><span>2023 Comunidad Carismatica Jesucristo es el Señor</span></p>
      </div>
      
    </div>

</footer>


