
<div id="header">
    <img src="../../../assets/img/Small-Groups-Banner-3-by-1.jpg" alt="">
    <h1 class="">Involucrate!!</h1>

</div>

<div class="container">
    
    <h5 class="texto-involved">
    
            <p>Nuestro trabajo es ayudar a las personas a encontrar a Dios, aumentar su fe, descubrir su propósito y marcar la diferencia. 
            Cumplir esa misión va más allá de la experiencia del fin de semana. Creemos que es importante encontrar una comunidad que te ayude a vivir tu fe. 
            Ya sea que tus próximos pasos impliquen el bautismo, unirse a un pequeño grupo o servir como voluntario, estamos aquí para ayudarte y alentarte.</p>
    
    </h5>
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <button class="nav-link active pestana" id="nav-celula-tab" data-bs-toggle="tab" data-bs-target="#nav-celula" type="button" role="tab" aria-controls="nav-profile" aria-selected="true"><span class="tabulador" >Celulas</span></button>
            <button class="nav-link pestana" id="nav-bautismo-tab" data-bs-toggle="tab" data-bs-target="#nav-bautismo" type="button" role="tab" aria-controls="nav-bautismo" aria-selected="false"><span class="tabulador">Bautismo</span></button>
            <button class="nav-link pestana" id="nav-nextsteps-tab" data-bs-toggle="tab" data-bs-target="#nav-nextsteps" type="button" role="tab" aria-controls="nav-nextsteps" aria-selected="false"><span class="tabulador">Servicios</span></button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active pestana" id="nav-celula" role="tabpanel" aria-labelledby="nav-celula-tab" routerLinkActive="actived"><app-smallgroups></app-smallgroups></div>
        <div class="tab-pane fade pestana" id="nav-bautismo" role="tabpanel" aria-labelledby="nav-bautismo-tab" routerLinkActive="actived"><app-baptism></app-baptism></div>
        <div class="tab-pane fade pestana" id="nav-nextsteps" role="tabpanel" aria-labelledby="nav-nextsteps-tab" routerLinkActive="actived"><app-nextsteps></app-nextsteps></div>
    </div>
</div>




