
<div class="container">  
     
    <div class="row fondo0">

        <img src="../../../assets/img/help-header-1.jpg" >
        
            <br>
            <h4 class="insideText">Creemos que es importante que crezcamos continuamente en nuestra relación con el Señor, 
            así como en las relaciones entre nosotros. En las Celulas de Bendición nos reunimos regularmente para estudiar la Biblia, orar unos por otros 
            y ofrecer oportunidades para construir relaciones duraderas.</h4>

    </div>
   
    <div class="fondo2">
        <div class="texto">
           <h3 class="subTitulo"><strong>Conectate</strong></h3>
           <h4 class="insideText">
                Las Celulas son una de las formas más importantes en que las personas se conectan y crecen juntas en su fe.
                Sea cual sea tu edad, etapa de la vida o intereses, ¡hay un grupo para ti!
                <br>
                <button type="button" class="btn btn-primary" (click)="onBtnClick()">Encuentra el Tuyo</button>
            </h4>
        </div>
        <div class="imagen">
            <img src="../../../assets/img/celula1.jpg" >
        </div>

    </div>
    

    <div class="fondo1">
        <div class="imagen">
            <img src="../../../assets/img/prayer-in-small-group.jpg" alt="">
        </div>
        <div class="texto" >
            <h3 class="subTitulo"><strong>Recursos para los Lideres</strong></h3>
            <h4 class="insideText">   
                No tienes que ser un pastor para guiar y discipular a otros. Solo tienes que estar dispuesto a dejar que Dios obre a través de ti.
                Te proporcionaremos algunos recursos esenciales que te ayudarán a liderar tu Celula con confianza.
            </h4>
        </div>

    </div>

    

</div>


